.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}
.about .left p{
    margin: 1.2rem 0;
}
.education .right{
    max-width: 700px;
}
.right .image-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
/* .right .image-stack.top img{
    height: 250px;
    width: 400px;
} */
.right .image{
max-width: 90%;
border: 1px solid #333;
}
.right  .image-stack.top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}
.right .image-stack.bottom{
    grid-column: 4 / span 8;
    grid-row: 1;
    z-index: 5;
}


/* Add this CSS to your Aboutcontent.css file or appropriate stylesheet */

/* Education Section */
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
  
  .myphoto {
    margin-bottom: 20px;
  }
  
  .edu-list {
    width: 80%;
    max-width: 600px;
    margin-bottom: 30px;
  }




  .myphoto-container {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  .myphoto {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .myphoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px; /* Adjust the border radius as needed */
    filter: grayscale(50%); /* Optional: Apply grayscale effect to the image */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff7a7a, #ffd700); /* Change gradient colors */
    mix-blend-mode: multiply; /* Overlay blend mode */
  }
  
  

  .education{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    flex-direction: row;
    padding: 2rem 3rem;
  }
  .education-item {
    background-color: #3f3e3e;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  
  .edu-list h1 {
    margin-bottom: .9rem;
  }
  li{
    padding: .5rem 0;
  }
  
  .education-item p {
    margin-bottom: 10px;
  }
  
  .education-item ul {
    padding-left: 20px;
  }
.education-item h3{
    padding-bottom: 1rem;
}
  
  /* Adjust styles to fit your design preferences */
  


@media screen and (max-width:426px){
    .about{
     flex-direction: row;
     flex-wrap: wrap-reverse;
    }
    .education{
        flex-direction: column;
    }
}