.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}
.about .left p{
    margin: 1.2rem 0;
}
.education .right{
    max-width: 700px;
    margin:auto;
}
.right .image-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
.right .image{
max-width: 90%;
border: 1px solid #333;
}
.right  .image-stack.top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}
.right .image-stack.bottom{
    grid-column: 4 / span 8;
    grid-row: 1;
    z-index: 5;
}
  .myphoto {
    margin-bottom: 20px;
  }

  .myphoto-container {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  .myphoto {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .myphoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px; 
    filter: grayscale(50%); 
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff7a7a, #ffd700); /* Change gradient colors */
    mix-blend-mode: multiply; 
  }
  .education{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
  }
 
  .edu-list{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding: 3rem 0;
  }

  .edu-list-contain{
    display: flex;
    flex-direction: column;
    color: aliceblue;
  }
  .edu-container{
    padding: 1.5rem 4.5rem;
    background-color: #333;
    display: flex;
  flex-direction: column;
  margin-top: 1.8rem;
  border-radius: 5px;
  text-align: center;  
  }
  .edu-container h3{
    margin-bottom: .5rem;
  }
.edu-container ul li{
  margin: 15px 0;
}
  
  @media screen and (max-width:1025px){
    .education{
      justify-content: space-around;
    }
    .education .right{
      max-width: 500px;
      margin: auto;
  }
  .edu-container{
    padding: 1.8rem 2rem;
    }
  }
  @media screen and (max-width:768px){
    .about{
     flex-direction: row;
     flex-wrap: wrap-reverse;
    }
    .education{
        flex-direction: column;
    }
    .edu-container{
    padding: 1.8rem 4rem;
    }
}

@media screen and (max-width:426px){
    .about{
     flex-direction: row;
     flex-wrap: wrap-reverse;
    }
    .education{
        flex-direction: column;
    }
    .edu-container{
      width: 320px;
      padding: 1rem 1rem;
      }
}
@media screen and (max-width:350px){
  .about{
   flex-direction: row;
   flex-wrap: wrap-reverse;
  }
  .education{
      flex-direction: column;
  }
  .edu-container{
    width: 280px;
    padding: .9rem 1rem;
    }
    .edu-container ul li{
      margin: 9px 0;
    }
}