
.hero{
    height: 100vh;
    width: 100%;
    background-color: rgb(13, 13, 34);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
}
.hero .content{
    text-align: center;
}
.hero .right-side{
    display: block;
}
.right-side img{
    width: 450px;
    border-radius: 50%;
}
.hero .text-style h2{
font-size: 2rem;
margin-right: 10px;
padding: 0 0 1.5rem;
color: #fff;
}
.hero .content p{
    font-size: 2.9rem;
    font-weight: 200;
    text-transform: uppercase;
}
span{
   font-size: 30px;
   background: linear-gradient(to left,
   rgb(0, 162, 255),
   rgb(0, 255, 21));
-webkit-background-clip: text;
color: transparent;
padding: 0 0 1.5rem;

}
.text-style{
    display: flex;
    justify-content: space-around;
    margin: 29px 0;
}

.content .btn{
    margin: 2rem 0.2rem; 
}

@media screen and (max-width:640px){
    .hero{
        flex-direction: column;
        justify-content: space-around;
    }
    .hero .content{
        margin-top: 40px;
    }
    .hero .content h1{
        font-size: 3rem;
    }
    .hero .content p{
        font-size: 1.4rem;
    }
    .hero .right-side{
         display: block;
   }
    .hero .right-side img{
        width: 320px;
    margin: 0 auto;
    border-radius: 50%;
    }
}
@media screen and (max-width:426px){
    .hero .right-side img{
        width: 300px;
    } 
}
@media screen and (max-width:350px){
    .hero .right-side img{
        width: 270px;
    } 
    .hero .content h1{
  font-size: 2.3rem;
    }
}
